<div class="color-scheme color-scheme--{{ section.settings.color_scheme.id }}">
  <div class="container">
    <div class="empty-state" data-background-text="404">
      <div class="prose prose-justify-center">
        <h1 class="h4">{{ '404.general.title' | t }}</h1>
        
        {%- assign button_content = '404.general.continue_shopping' | t -%}
        {%- assign button_link = section.settings.link | default: routes.all_products_collection_url -%}
        {%- render 'button', content: button_content, href: button_link -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_not_found.name",
  "class": "shopify-section--404",
  "tag": "section",
  "settings" : [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-2"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.main_not_found.button_link"
    }
  ]
}
{% endschema %}
